

header{
    background: linear-gradient(to left, #240951 0%, #1f63c0 100%);
}
#search-button{
    background-color: #2e9aec !important;
}
#search-input{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 2px 2px #888888;
}
h4{
    font-size: 20px !important;
}
#forecast5{
    background-color: #283f52;
    color: white;
    border-right: 2px solid white;
    max-width: 25%;
}
#forecasttoday{
    border: 1px solid black;
    padding: 2px !important;
}
#histbutton{
    background-color: #aeaeae;
    border-color: #aeaeae;
    color: black;
    margin-bottom: 10px;
}